.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 999; /*It assure navbar is always on top*/
  font-size: 18px;
}

.navbar a:hover {
  color: green;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
}

.main {
  margin-top: 60px;
  padding: 10px;
  text-align: center;
}
